<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin http://jsbin.com/zuzimureji/1/edit?html,js,output</title>
</head>
<body>
  <div id="appDOM">
    {{message}}
    {{number *8}}
   <hr>

   <ul>
     <li v-for="product in products">
       {{product}}
     </li>
   </ul>
  <hr>
   <ul>
     <li v-for="product in productsOnline">
       {{product.quantity}} {{product.name}}
     </li>
   </ul>
   <hr/>
  </div>
  
  <script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>
<script>
var app=new Vue({
  el:"#appDOM",//element
  data:{
    message:'Hi Vue!',
    number:10,
    products:['boots','shoe','tools'],
    productsOnline:[]
  },
  created(){
    fetch('https://api.myjson.com/bins/74l63')
     .then(response=>response.json())
     .then(json=>{this.productsOnline=json.products})
  }
});
</script>
</body>
</html>